.nav-bar {
  background-color: brown;
  height: 4rem;
  display: flex;
  align-items: center;
  position: relative;
}

.nav-toggle {
  margin-right: 10px;
}

.nav-toggle:hover {
  background-color: rgb(112, 30, 30)
}

.nav-toggle button {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.nav-toggle button img {
  /* Add the transition property for smooth animation */
  transition: transform 0.3s ease;
  width: 40px;
  height: 40px;
}

.nav-toggle button img.open {
  transform: rotate(90deg);
  width: 40px;
  height: 40px;
}

.page-title {
  margin: 0;
  color: black;
  flex: 1;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
}

.page-title:hover {
  color: gray;
}

.header-icon img {
  padding-right: 10px;
  width: 30px;
  height: 30px;
}

.header-icon img:hover {
  background-color: gray;
  border-radius: 10px;
}
