<!-- <div class="footer">
  <p>&copy; Else Werner Glass 2023</p>
  <a href="/terms" class="link">Terms of Service</a>
  <a href="/contact" class="link">Contact</a>
  <a href="https://www.instagram.com/elsewernerglass/">
    <img [src]="instaIcon" class="icon">
  </a>
</div> -->

<div class="footer">
  <div class="left-content"></div>
  <div class="centered-content">
    <p>&copy; Else Werner Glass 2023</p>
  </div>
  <div class="right-content">
    <a href="/terms" class="link">Terms of Service</a>
    <a href="/attribution" class="link">Icon Attributions</a>
    <a href="/contact" class="link">Contact</a>
    <a href="https://www.instagram.com/elsewernerglass/">
      <img src="{{instaIcon}}" class="icon">
    </a>
  </div>
</div>
