.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: brown;
  padding: 0 20px;
}

.footer p {
  flex-grow: 1;
  /* Allow the <p> element to grow and occupy available space */
  text-align: center;
  margin: 0;
  margin-left: 100px; //cheated this but still looks good?
  font-size: 15px;
  font-family: 'Libre Baskerville', serif;
}

.icon {
  width: 20px;
  height: 20px;
  margin-left: auto;
  /* Push the image to the right by setting auto margin on the left */
}

.icon:hover {
  background-color: gray;
  border-radius: 10px;
}

.link {
  padding-right: 5px;
  text-decoration: none;
  color: black;
}

.link:hover {
  color: gray;
}

.footer {
  display: flex;
  align-items: center;
}

.link {
  margin-right: 10px;
  font-family: 'Libre Baskerville', serif;
}

.link::after {
  content: "|";
  /* The separator symbol, you can change it to any character or symbol you prefer */
  margin-left: 10px;
  /* Adjust the spacing as needed */
  color: black;
  /* Color of the separator */
}
