<div class="image-and-selectors" *ngIf="currentImage !== placeholderImage">
  <div class="enlarged-image-container">

    <!-- <div clas="horizontal-align"> -->
    <div [hidden]="(currentImageIndex<=0)" class="previous-image">
      <button (click)="currentImageIndex = currentImageIndex - 1; chooseCarouselItem(currentImageIndex); $event.stopPropagation(); selectBubble(currentImageIndex)"class="previous">Previous</button>
    </div>

    <div class="enlarged-image">
      <a [href]="currentLink" target="_blank">
        <img [src]="currentImage" alt="currentImageIndex" title="currentImageIndex">
      </a>
    </div>

    <!-- <div *ngIf = "currentLink">
      <a [href]="currentLink"></a>
    </div>

    <div *ngIf = "currentDescription">
      <p>{{currentDescription}}</p>
    </div> -->

    <div [hidden]="carousel && currentImageIndex >= carousel.length - 1" class="next-image">
      <button (click)="currentImageIndex = currentImageIndex + 1; chooseCarouselItem(currentImageIndex); $event.stopPropagation(); ; selectBubble(currentImageIndex)" class="next">Next</button>
    </div>
    <!-- </div> -->

  </div>

  <div class="bubble-selectors">
    <div *ngFor="let carouselItem of carousel; let i = index" class="bubble-selector" [class.selected]="isBubbleSelected && i === currentImageIndex" (click)="chooseCarouselItem(i); selectBubble(i)"></div>
  </div>
</div>

<div class="image-and-selectors" *ngIf="currentImage === placeholderImage">
  <div class="enlarged-image">
    <img [src]="placeholderImage" alt="no image available" title="no image available">
  </div>
</div>
