<div class="container">
  <h1 class="contact-page-title">Contact Me</h1>
  <div class="formBox" *ngIf="!submitted">
    <form #contactForm="ngForm" (ngSubmit)="onSubmit(model)" method="POST" enctype="multipart/form-data" #form>
      <!-- this is to see the dynamic data changes in the form.. delete when done -->
      <!-- {{model | json}} -->
      <div class=" form-group">
        <label for="name">Name</label>
        <!-- truthy if the element with #name template attached is falsey -->
        <div [hidden]="name.valid || name.pristine" class="alert-danger">
          <p>Name is required</p>
        </div>
        <input type="text" #name='ngModel' class="form-control" id="name" required [(ngModel)]="model.name" name="name">
      </div>

      <br>

      <div class="form-group">
        <label for="requstType">Request Type</label>
        <select class="form-control" id="requestType" required [(ngModel)]="model.subject" name="requestType">
          <option *ngFor="let req of requestType" [value]="req">{{req}}</option>
        </select>
      </div>

      <br>

      <div class="form-group">
        <label for="email">Email</label>
        <div [hidden]="email.valid || email.pristine" class="alert-danger">
          <p>Email is required</p>
        </div>
        <input type="email" #email='ngModel' class="form-control" id="email" required [(ngModel)]="model.email"
          name="email">
      </div>

      <br>

      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="text" class="form-control" id="phone" [(ngModel)]="model.phone" name="phone">
      </div>

      <br>

      <div class="form-group">
        <label for="fileInput">Upload File</label>
        <input type="file" #upload='ngModel' class="form-control" id="fileInput" [(ngModel)]="model.selectedFile"
          name="files" (change)="onFileSelected($event)" multiple>
      </div>

      <div *ngIf="isPreviewSelected">
        <div class="preview-image-container" *ngFor="let previewUrl of previewUrls; let i=index">
          <div class="preview-item">
            <img [src]="previewUrl" alt="Preview" width="200">
            <div class="preview-image-title">{{ fileTitles[i] }}</div>
          </div>
          <div class="preview-image-remove" (click)="removeFile(previewUrl)">x</div>
        </div>
      </div>

      <br>

      <div class="form-group">
        <div class="checkbox-element">
          <label class="checkbox-label" for="listOpt">*Subscribe to Email List?</label>
          <input type="checkbox" name="listOpt" class="form-control" id="listOpt" #listOpt='ngModel'
            [(ngModel)]="model.listOpt">
          <div class="checkbox-description">
            <p>By checking this box, you agree to receive occasional promotional emails with information about special
              events, sales, and more! You can unsubscribe at
              any time.</p>
          </div>
        </div>
      </div>

      <br>

      <div class="form-group">
        <label for="message">Message</label>
        <div [hidden]="message.valid || message.pristine" class="alert-danger">
          Please enter a message
        </div>
        <textarea type="text" #message='ngModel' class="form-control" id="message" required [(ngModel)]="model.message"
          name="message"></textarea>
      </div>

      <br>
      <br>

      <button type="submit" class="btn btn-success" [disabled]="!contactForm.form.valid">Submit</button>

      <div class="loader" *ngIf="isLoading"></div>

    </form>
  </div>


  <div *ngIf="submitted" class="thank-you">
    <p>Thank you for the message! You will recieve a response as soon as possible.</p>
    <button type='button' class="btn" (click)="newRequest()" submitted="false">Submit another
      request</button>
    <button type='button' class="btn" routerLink="/home">Home</button>
  </div>
</div>
