<h1>Contact Me</h1>

<div class="formBox" [hidden]="submitted">
  <!-- allows you to send to a sheet and then emails with proper body -->
  <!-- <form #contactForm="ngForm" (ngSubmit)="onSubmit(model)" method="POST" action="https://mailthis.to/tb5a"
    enctype="multipart/form-data" #form> -->
  <!-- Google version: allows you to send to a sheet and then emails with proper body -->

  <!-- UNCOMMENT THIS ONE -->
  <!-- <form #contactForm="ngForm" (ngSubmit)="onSubmit(model)" method="POST"
    action="https://script.google.com/macros/s/AKfycbzu4XW3jks5fxn5GLnTCfKjSx7PKv9HPHWx7b42lE4Nq8ScUMXZPCSc-eyXvCe0cXq12w/exec"
    enctype="multipart/form-data" #form> -->

  <!-- DELETE? -->
  <form #contactForm="ngForm" (ngSubmit)="onSubmit(model)" method="POST" enctype="multipart/form-data" #form>
    <!-- <form #contactForm="ngForm" (ngSubmit)="sendEmail($event)" method="POST" enctype="multipart/form-data" #form> -->
    <!-- DETETE? -->
    <!-- this is to see the dynamic data changes in the form.. delete when done -->
    {{model | json}}
    <div class=" form-group">
      <label for="name">Name</label>
      <br>
      <input type="text" #name='ngModel' class="form-control" id="name" required [(ngModel)]="model.name" name="name">
      <!-- truthy if the element with #name template attached is falsey -->
      <div [hidden]="name.valid || name.pristine" class="alert-danger">
        Name is required
      </div>
    </div>

    <div class="form-group">
      <label for="requstType">Request Type</label>
      <br>
      <select class="form-control" id="requestType" required [(ngModel)]="model.subject" name="requestType">
        <option *ngFor="let req of requestType" [value]="req">{{req}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <br>
      <input type="email" #email='ngModel' class="form-control" id="email" required [(ngModel)]="model.email"
        name="email">
      <div [hidden]="email.valid || email.pristine" class="alert-danger">
        Email is required
      </div>
    </div>

    <!-- <div class="form-group">
      <label for="listOpt">Join BRW Mail List</label>
      <br>
      <input type="checkbox" #listOpt='ngModel' class="form-control" id="listOpt" [(ngModel)]="model.listOpt"
        value="listOpt">
    </div> -->

    <div class="form-group">
      <label for="phone">Phone Number</label>
      <br>
      <input type="text" class="form-control" id="phone" [(ngModel)]="model.phone" name="phone">
    </div>

    <div class="form-group">
      <label for="fileInput">Upload File</label>
      <br>
      <input type="file" #upload='ngModel' class="form-control" id="fileInput" [(ngModel)]="model.selectedFile"
        name="file" (change)="onFileSelected($event)" multiple>
    </div>

    <div class="form-group">
      <label for="message">Message</label>
      <br>
      <textarea type="text" #message='ngModel' class="form-control" id="message" required [(ngModel)]="model.message"
        name="message"></textarea>
      <div [hidden]="message.valid || message.pristine" class="alert-danger">
        Please enter a message
      </div>
    </div>

    <br>
    <br>
    <!-- UNCOMMENT -->
    <!-- <button type="submit" class="btn btn-success" [disabled]="!contactForm.form.valid"
      (click)="form.submit()">Submit</button> -->

    <!-- DELETE? -->
    <button type="submit" class="btn btn-success" [disabled]="!contactForm.form.valid">Submit</button>
    <!-- DELETE? -->

    <!-- testing mailthis.to api -->
    <!-- Honeypot (to catch comment spam bots) -->
    <!-- <input type="hidden" name="_honeypot" value=""> -->
    <!-- Redirect to a page after recaptcha -->
    <!-- <input type="hidden" name="_after" value="http://localhost:4200/home"> -->


  </form>
</div>

<div [hidden]="!submitted">
  <p>Thank you for the message! You will recieve a response as soon as possible.</p>
  <button type='button' class="btn" (click)="contactForm.reset(); submitted=false">Submit another
    request</button>
  <button type='button' class="btn" routerLink="/home">Home</button>
</div>
