h1 {
  text-align: center;
}

.cart-container {
  width: 100%; /* Set the width of the container as needed */
  display: flex;
  flex-direction: column; /* Ensure a vertical layout for items */
  align-items: center; /* Center items horizontally within the container */
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* Align contents to the start of the container horizontally */
  align-items: center;
  width: 45%; /* Ensure each item takes the full width of the container */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  padding: 10px; /* Add padding for spacing between items */
  margin-bottom: 10px; /* Add margin to control the spacing between items */
}

.item-image-link {
  display: inline-block;
  margin-right: 10px; /* Adjust the margin as needed to control the spacing between image and details */
  text-align: center; /* Optionally center the content within each item */
}

.item-image-link img {
  width: 100px;
  height: 75px; /* Maintain the aspect ratio of the image */
  border-radius: 10px; /* Add border-radius to round the corners */
}

.item-image-link:hover img {
  filter: brightness(0.7); /* Darken the image on hover */
}

.item-details {
  display: flex; /* Use flexbox for horizontal layout */
  flex-direction: row; /* Display elements within item-details in a row (horizontal) */
  align-items: center; /* Vertically center items within item-details, if needed */
}

.item-details p, .item-details h3 {
  margin-right: 15px;
}

.sub-total {
  text-align: center;
}

.nav-button {
  display: inline-block;
  width: 100px;
  padding: 10px 20px; /* Adjust the padding as needed for the button size */
  border: 2px solid #000; /* Button outline color */
  border-radius: 5px; /* Add rounded corners to the button */
  text-decoration: none; /* Remove underline on the link */
  text-align: center;
  color: black; /* Button text color */
  background-color: transparent; /* Button background color (transparent) */
  transition: background-color 0.3s, color 0.3s;
}

/* Style the <a> button on hover */
.nav-button:hover {
  background-color: black; /* Button background color on hover */
  color: #fff; /* Button text color on hover */
}

/* Position the previous button on the left */
button.previous {
  background: url('../../assets/black_arrow_before.png') no-repeat;
  background-size: contain;
  text-indent: -9999px; //removes text
  border: 0;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
}

/* Position the next button on the right */
button.next {
  background: url('../../assets/black_arrow_next.png') no-repeat;
  background-size: contain;
  text-indent: -9999px; //removes text
  border: 0;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
}

button.previous:hover,
button.next:hover {
  border: 1px solid #000;
  cursor: pointer;
}

