h1 {
  text-align: center;
}

.cart-item {
  display: flex;
  margin: 10px; /* Adjust the margin as needed to control the spacing between items */
}

.item-image-link {
  display: inline-block;
  margin-right: 10px; /* Adjust the margin as needed to control the spacing between image and details */
  text-align: center; /* Optionally center the content within each item */
}

.item-image-link img {
  width: 100px;
  height: 75px; /* Maintain the aspect ratio of the image */
  border-radius: 10px; /* Add border-radius to round the corners */
}

.item-image-link:hover img {
  filter: brightness(0.7); /* Darken the image on hover */
}

.item-details {
  display: flex; /* Use flexbox for horizontal layout */
  flex-direction: row; /* Display elements within item-details in a row (horizontal) */
  align-items: center; /* Vertically center items within item-details, if needed */
}

.item-details p, .item-details h3 {
  margin-right: 15px;
}

.nav-button {
  display: inline-block;
  width: 100px;
  padding: 10px 20px; /* Adjust the padding as needed for the button size */
  border: 2px solid #000; /* Button outline color */
  border-radius: 5px; /* Add rounded corners to the button */
  text-decoration: none; /* Remove underline on the link */
  text-align: center;
  color: black; /* Button text color */
  background-color: transparent; /* Button background color (transparent) */
  transition: background-color 0.3s, color 0.3s;
}

/* Style the <a> button on hover */
.nav-button:hover {
  background-color: black; /* Button background color on hover */
  color: #fff; /* Button text color on hover */
}

