<h1>Checkout</h1>

<div *ngIf="!cartEmpty" class="cart-container">
  <div *ngFor="let item of cart; let i = index" class="cart-item">
    <a [href]="'/item/' + item.id" class="item-image-link">
      <img *ngIf="item.imageUrl" [src]="item.imageUrl" alt="{{ item.name }}" title="{{ item.name }}">
      <img *ngIf="!item.imageUrl" [src]="placeholderImage" alt="no image available" title="no image available">
    </a>
    <div class="item-details">
      <h3>{{ item.name }}</h3>
      <p>Price: {{ formatPrice(item.price * item.quantity) }}</p>
      <p *ngIf="item.color !== 'Regular'">Color: {{ item.color }}</p>
      <div class="previous">
        <button (click)="decrementQuantity(item)"class="previous">Previous</button>
      </div>
      <div class="quantity">Quantity: {{ item.quantity }}</div>
      <div class="next">
        <button (click)="incrementQuantity(item)" class="next">Next</button>
      </div>
      <div class="remove">
        <button (click)="removeFromCart(item, i)" class="remove">Remove From Cart</button>
      </div>
    </div>
  </div>

  <h2 class="sub-total">Sub Total: {{formatPrice(subTotal)}}</h2>

  <a [href]="'/shop'" class="nav-button">Back to Shop</a>
  <button class="nav-button">Proceed to Checkout</button>
</div>

<div *ngIf="cartEmpty">
  <p>Your Cart is Empty</p>
  <a [href]="'/shop'" class="nav-button">Shop now</a>
</div>
