<div class="square-page-title">
  <h1>{{categoryName}}</h1>
</div>

<!-- <div class="image-container" *ngIf="!itemEnlarged">
  <div class='image-wrapper' *ngFor="let item of saleItems" (click)="toggleImageEnlarged(item)">
    <div class="image-cover">
      <img class='image' [src]="imageMap[item.item_data.image_ids[0]]" alt="item.item_data.name">
    </div>
    <p>{{ item.item_data.name }}</p>
    <p>{{ formatPrice(item.item_data.variations[0].item_variation_data.price_money.amount) }}</p>
  </div>
</div> -->

<div class="image-container">
  <div class='image-wrapper' *ngFor="let item of saleItems" (click)="toggleImageEnlarged(item)">
    <div class="image-cover">
      <a href="item/{{item.id}}">
        <img class='image' [src]="imageMap[item.item_data.image_ids[0]]" alt="item.item_data.name" [class.out-of-stock]="item.item_data.variations[0].item_variation_data.location_overrides?.[0]?.sold_out">
      </a>
    </div>
    <p class="warning" *ngIf="item.item_data.variations[0].item_variation_data.location_overrides?.[0]?.sold_out">Out of Stock</p>
    <p>{{ item.item_data.name }}</p>
    <p>{{ formatPrice(item.item_data.variations[0].item_variation_data.price_money.amount) }}</p>
  </div>
</div>

<!-- <div class="single-view" *ngIf="itemEnlarged">

  <div class="image-and-selectors">
    <div class="enlarged-image-container">

      <div clas="horizontal-align">
      <div [hidden]="(currentImageIndex<=0)" class="previous">
        <button (click)="currentImageIndex = currentImageIndex - 1; chooseImage(itemEnlarged.item_data.image_ids[currentImageIndex]); $event.stopPropagation(); selectBubble(currentImageIndex)"class="previous">Previous</button>
      </div>

      <a [href]="currentImage" target="_blank" class="enlarged-image">
        <img [src]="currentImage" alt="{{ itemEnlarged.item_data.caption }}" title="{{ itemEnlarged.item_data.caption }}">
      </a>

      <div [hidden]="currentImageIndex >= itemEnlarged.item_data.image_ids.length - 1" class="next">
        <button (click)="currentImageIndex = currentImageIndex + 1; chooseImage(itemEnlarged.item_data.image_ids[currentImageIndex]); $event.stopPropagation(); ; selectBubble(currentImageIndex)" class="next">Next</button>
      </div>
      </div>

    </div>

    <div class="bubble-selectors">
      <div *ngFor="let image of itemEnlarged.item_data.image_ids; let i = index" class="bubble-selector" [class.selected]="isBubbleSelected && i === currentImageIndex" (click)="chooseImage(image); selectBubble(i)"></div>
    </div>
  </div>

  <div class="enlarged-text-container">
    <div class="preview-image-remove" (click)="toggleImageEnlarged(itemEnlarged)">x</div>
    <div class="enlarged-title">{{itemEnlarged.item_data.name}}</div>
    <div class="enlarged-caption">{{ formatPrice(itemEnlarged.item_data.variations[0].item_variation_data.price_money.amount) }}</div>
    <hr>
    <div class="enlarged-caption">{{ itemEnlarged.item_data.description }}</div>
    if there's no colors present then a single variation named regular with ordinal 1 appears, whereas colors are given indexed ordinal values
    <div *ngIf="itemEnlarged.item_data.variations[0].item_variation_data.ordinal !== 1">
      <h2>Color</h2>
      <h2>{{itemEnlarged.item_data.variations[currentColorIndex].item_variation_data.name}}</h2>
      <div *ngFor = "let variation of itemEnlarged.item_data.variations; let j = index" class="color-bubble-selectors">


        <div class="color-bubble-selector"
          [style.background-color]=colorMap[variation.item_variation_data.name]
          (click)="selectColor(j)">
        </div>


      </div>
    </div>
  </div>

</div> -->
<div *ngIf="!saleItems">
  <h1>Error: Please reload page</h1>
</div>
