.square-page-title {
  text-align: center;
  // background-color: beige;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  // background-color: beige;
}

.image-wrapper {
  position: relative;
}

.image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}


.image-enlarged {
  /* Positioning and layout properties */
  position: fixed;
  top: 12.5%; /* Adjust this value to position it lower or higher */
  left: 10%;
  right: 10%;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 80vh;
}


/* Style the enlarged image */
/* Style the enlarged image */

.enlarged-image img {
  max-width: 750px; /* Set a fixed width */
  max-height: 750px; /* Limit the height to a maximum of 500px */
  padding-top: 20px;
  padding-left: 20px;
}

/* Style the text container */
.enlarged-text-container {
  padding: 20px;
  box-sizing: border-box;
  flex: 1; /* Make the text container take up available space */
}

.enlarged-title {
  font-weight: bold;
  font-size: 1.5rem; /* Adjust the font size as needed */
  color: black; /* Set the text color to black or your desired color */
}

.enlarged-caption {
  margin-top: 10px;
  font-size: 1rem; /* Adjust the font size as needed */
  color: black; /* Set the text color to black or your desired color */
}

// .preview-image-remove {
//   position: fixed;
//   top: 10px;
//   right: 10px;
//   cursor: pointer;
//   font-size: 1.2rem;
//   font-weight: bold;
//   z-index: 1;
//   padding: 5px;
//   color: #fff;
// }

// .enlarged-timestamp {
//   color: #bebbbb;
// }

// .insta-link-container {
//   display: flex;
//   align-items: center;
// }

// .insta-permalink {
//   display: inline-block;
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   margin-bottom: 20px;
//   margin-right: 20px;

//   text-decoration: none;
//   color: white
// }

// .insta-icon {
//   max-width: 24px !important;
//   max-height: 24px !important;
// }

// .insta-label {
//   margin-left: 5px;
// }

// hr {
//   width: 100%;
//   border: none;
//   border-top: 1px solid #fff;
//   margin: 10px 0;
//   align-self: flex-start;
// }

// //next buttons on carousel images
// /* Position the previous and next buttons */
// button.previous,
// button.next {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   width: 30px;
//   height: 30px;
//   border: none;
//   background-color: transparent;
// }

// button.previous:hover,
// button.next:hover {
//   border: 1px solid #000;
//   cursor: pointer;
// }

// /* Position the previous button on the left */
// button.previous {
//   left: 0;
//   background: url('../../assets/white_arrow_before.png') no-repeat;
//   background-size: contain;
//   text-indent: -9999px;
// }

// /* Position the next button on the right */
// button.next {
//   right: 0;
//   background: url('../../assets/white_arrow_next.png') no-repeat;
//   background-size: contain;
//   text-indent: -9999px;
// }

// //Position the load more button (temp)
// .next-page-button {
//   text-align: center;
//   margin-top: 5px;
// }

// .loader {
//   display: block;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(228, 228, 228, 0.5);
//   z-index: 9999;
// }

// .loader:before {
//   content: "";
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   border: 4px solid #f3f3f3;
//   border-top: 4px solid black;
//   border-radius: 50%;
//   width: 30px;
//   height: 30px;
//   animation: spin 2s linear infinite;
// }

// @keyframes spin {
//   0% {
//     transform: rotate(0deg);
//   }

//   100% {
//     transform: rotate(360deg);
//   }
// }
