<div class="page">
<h1>Asset Attributions</h1>

<div class="icon-box">
  <a href="https://www.flaticon.com/free-icons/smart-cart" title="smart cart icons" class="link">
    <img src="../../assets/shopping-cart.png" class="icon">
    </a>

  <a href="https://www.flaticon.com/free-icons/previous" title="previous icons" class="link">
    <img src="../../assets/black_arrow_before.png" class ="icon">
  </a>

  <a href="https://www.flaticon.com/free-icons/arrow" title="arrow icons" class="link">
    <img src="../../assets/black_arrow_next.png" class="icon">
  </a>
</div>
</div>

