html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-bar-container {
  position: fixed;
  top: 4rem;
  z-index: 999;
}

.page-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
  min-height: 100vh;
}

.page-container.nav-open::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  background-color: #f0f0f0;
  z-index: 999;
}

.content {
  padding-top: 4rem;
  flex: 1;
  overflow-y: visible;
  box-sizing: border-box;
  flex-grow: 1;
  padding-bottom: 25px;
}
