html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
}

.nav-bar-container {
  position: relative;
  z-index: 1;
}

.content {
  flex: 1;
  min-height: 100vh;
  overflow-y: visible;
  box-sizing: border-box;
  flex-grow: 1;
  padding: 10;
  padding-bottom: 20px;
}
