.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-container>app-nav-bar {
  flex-shrink: 0;
}

.router-container {
  flex-grow: 1;
  overflow-y: auto;
}

app-footer {
  background-color: black;
  color: white;
  padding: 20px;
}
