mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

// .sidenav-container {
//   position: fixed;
//   top: 64px;
//   left: 0;
//   bottom: 0;
//   width: 250px;
//   z-index: 5;
//   transition: background-color 0.3s ease;
// }

// .sidenav-container.open {
//   background-color: green;
// }

// .sidenav-container:not(.open) {
//   transition: background-color 0.3s;
//   /* add a transition to the background-color property when the 'open' class is removed */
// }

.sidenav-container {
  position: fixed;
  top: 64px;
  left: 0;
  bottom: 0;
  width: 250px;
  z-index: 5;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  /* add a transition for the opacity property */
  opacity: 1;
  /* set the initial opacity to 1 */

  transform: translateX(-100%);
}

.sidenav-container.open {
  background-color: rgb(230, 230, 230);
  opacity: 1;

  transform: translateX(0);
  /* make sure the opacity is 1 when the sidenav is open */
}

.sidenav-container:not(.open) {
  background-color: transparent;
  /* change the background color to transparent when the sidenav is closed */
  opacity: 0;
  /* set the opacity to 0 when the sidenav is closed */
  pointer-events: none;
  /* disable pointer events on the closed sidenav to prevent clicks on elements behind it */
}


.main-content {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 16px;
  box-sizing: border-box;
}

/* Set the background color of the first mat-list-item to the same as the other items */
.mat-nav-list:first-child .mat-list-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.mat-nav-list:first-child .mat-list-item {
  background-color: transparent !important;
  color: inherit !important;
  opacity: 1 !important;
  pointer-events: auto !important;
}

/* Set the background color of the hovered element to a different color */
mat-list-item:hover {
  background-color: #c7c7c7;
  /* Change this to the desired hover color */
}
