.nav-links {
  padding-left:3vh;
  background-color: rgb(146, 122, 90);
  display: none;
  flex-direction: column;
  min-height: 100vh;
  // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Clip content that overflows the container */
}

.nav-links.show {
  display: flex;
}

.dropdown-content {
  padding-left: 4vh; /* Adjust the indentation as needed */
}

.nav-links a,
button {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  /* Add this property to prevent the text from wrapping */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
  /* Add padding to create space between the text and container edges */
  padding-right: 200px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

.nav-links.show {
  display: flex;
  transform: translateX(0); //Slide the component into the viewport
}


.nav-links a:hover {
  // background-color: rgb(246, 225, 176);
  color: rgb(232, 214, 175);
  // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transform: scale(1.1); /* Scale up the bubble on hover */
}

/* Add this style for the Shop link */
.nav-links a[href="/shop"] {
  position: relative;
}

.nav-links a[href="/shop"]::before {
  // content: "\25B6"; /* Unicode character for a right-pointing triangle */
  position: absolute;
  left: 10vh; /* Adjust the position as needed */
  transition: transform 0.3s ease-in-out;
  border-radius: 4px;
  content: ''; /* Empty content, necessary for pseudo-elements */
  background-image: url('../../assets/black_arrow_next.png'); /* Path to your arrow image */
  background-size: contain; /* Adjust as needed */
  width: 3.5vh; /* Adjust width as needed */
  height: 3.5vh; /* Adjust height as needed */
  display: inline-block;
}

/* Rotate the arrow on hover */
.nav-links a[href="/shop"]:hover::before {
  transform: rotate(90deg);
  background-color: rgb(232, 214, 175);
  /* Blend mode to control how the color blends with the image */
  background-blend-mode: overlay;
}

.inner-nav-link {
  display: block;
}
