.single-view {
  background-color:rgb(236, 236, 224);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100vh;
  gap: 25px;
  position: relative;
}

.enlarged-image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
}

// .horizontal-alignment {
//   flex: 1;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.enlarged-image img {
  max-width: 600px; /* Set a fixed width */
  max-height: 600px; /* Limit the height to a maximum of 500px */
  padding-top: 20px;
  // padding-left: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin-left: 25px;
  align-items: center;
}

/* Position the previous button on the left */
button.previous {
  position: absolute;
  order: 1;
  background: url('../../assets/black_arrow_before.png') no-repeat;
  background-size: contain;
  text-indent: -9999px; //removes text
  border: 0;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
}

/* Position the next button on the right */
button.next {
  position: absolute;
  order: 3;
  background: url('../../assets/black_arrow_next.png') no-repeat;
  background-size: contain;
  text-indent: -9999px; //removes text
  border: 0;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
}

button.previous:hover,
button.next:hover {
  border: 1px solid #000;
  cursor: pointer;
}

//bubbles for under images gallery

.bubble-selectors {
  // display: flex;
  // justify-content: center;

  display: flex;
  flex-direction: row; /* Arrange items vertically */
  align-items: center;
  justify-content: center;
  margin-top: 10px; /* Adjust the distance from the enlarged-image-container */
}

.bubble-selector {
  width: 20px; /* Adjust the size as needed */
  height: 20px; /* Adjust the size as needed */
  border: 2px solid #000; /* Set outline color */
  border-radius: 50%; /* Create a circle */
  margin: 0 10px; /* Adjust spacing as needed */
  cursor: pointer;
  position: relative;
  transition: border-color 0.3s, background-color 0.3s;
}

.color-bubble-selector {
  width: 20px; /* Adjust the size as needed */
  height: 20px; /* Adjust the size as needed */
  border: 2px solid #000; /* Set outline color */
  border-radius: 50%; /* Create a circle */
  margin: 0 10px; /* Adjust spacing as needed */
  cursor: pointer;
  position: relative;
  transition: border-color 0.3s, background-color 0.3s;
}

.color-bubble-selector::before {
  content: ''; /* Required for pseudo-elements */
  width: 15px; /* Adjust the size of the smaller circle */
  height: 15px; /* Adjust the size of the smaller circle */
  background-color: transparent; /* Transparent background to create the space */
  border: 3px solid rgb(236, 236, 224); /* Black border for the outer circle */
  border-radius: 50%; /* Create the smaller circle */
  position: absolute;
  top: 50%; /* Position vertically in the middle */
  left: 50%; /* Position horizontally in the middle */
  transform: translate(-50%, -50%); /* Center the smaller circle */
}

.bubble-selector:hover {
  background-color: black;
}

.bubble-selector.selected {
  &::before {
    content: ''; /* Required for pseudo-elements */
    width: 15px; /* Adjust the size of the smaller circle */
    height: 15px; /* Adjust the size of the smaller circle */
    background-color: #000; /* Color of the smaller circle */
    border-radius: 50%; /* Create the smaller circle */
    position: absolute;
    top: 50%; /* Position vertically in the middle */
    left: 50%; /* Position horizontally in the middle */
    transform: translate(-50%, -50%); /* Center the smaller circle */
  }

  /* Add a persistent inner circle using ::before pseudo-element */
  &::before {
    content: '';
    width: 10px; /* Adjust the size of the inner circle */
    height: 10px; /* Adjust the size of the inner circle */
    background-color: #000; /* Color of the inner circle */
    border-radius: 50%; /* Create the inner circle */
    position: absolute;
    top: 50%; /* Position vertically in the middle */
    left: 50%; /* Position horizontally in the middle */
    transform: translate(-50%, -50%); /* Center the inner circle */
  }
}

.color-bubble-selector:hover {
  /* Style for hover effect */
  /* You can add a shadow here */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}


/* Style the text container */
.enlarged-text-container {
  flex: 1;
}

.enlarged-title {
  padding-top: 20px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 1.5rem; /* Adjust the font size as needed */
  color: black; /* Set the text color to black or your desired color */
}

.enlarged-caption, hr {
  margin-top: 10px;
  // margin-right: 20px;
  font-size: 1rem; /* Adjust the font size as needed */
  color: black; /* Set the text color to black or your desired color */
  // word-wrap: break-word;
  white-space: pre-line;
}

.preview-image-remove {
  position: absolute;
  margin-right: 20px;
  margin-top: 20px;
  right: 0;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  z-index: 1;
  // padding: 5px;
  color: black;
}

.contact-button {
  display: inline-block;
  padding: 10px 20px; /* Adjust the padding as needed for button size */
  border: 2px solid black; /* Button outline color */
  border-radius: 20px; /* Rounded corners */
  text-decoration: none; /* Remove underline on the link */
  text-align: center;
  color: black; /* Button text color */
  background-color: transparent; /* Button background color (transparent) */
  transition: background-color 0.3s, color 0.3s;
}

.contact-button:hover {
  background-color: black; /* Button background color on hover */
  color: #fff; /* Button text color on hover */
}
