<div class="single-view" *ngIf="itemEnlarged">

  <div class="image-and-selectors">
    <div class="enlarged-image-container">

      <!-- <div clas="horizontal-align"> -->
      <div [hidden]="(currentImageIndex<=0)" class="previous-image">
        <button (click)="currentImageIndex = currentImageIndex - 1; chooseImage(itemEnlarged.item_data.image_ids[currentImageIndex]); $event.stopPropagation(); selectBubble(currentImageIndex)"class="previous">Previous</button>
      </div>

      <div class="enlarged-image">
        <a [href]="currentImage" target="_blank">
          <img [src]="currentImage" alt="{{ itemEnlarged.item_data.caption }}" title="{{ itemEnlarged.item_data.caption }}">
        </a>
      </div>

      <div [hidden]="currentImageIndex >= itemEnlarged.item_data.image_ids.length - 1" class="next-image">
        <button (click)="currentImageIndex = currentImageIndex + 1; chooseImage(itemEnlarged.item_data.image_ids[currentImageIndex]); $event.stopPropagation(); ; selectBubble(currentImageIndex)" class="next">Next</button>
      </div>
      <!-- </div> -->

    </div>

    <div class="bubble-selectors">
      <div *ngFor="let image of itemEnlarged.item_data.image_ids; let i = index" class="bubble-selector" [class.selected]="isBubbleSelected && i === currentImageIndex" (click)="chooseImage(image); selectBubble(i)"></div>
    </div>
  </div>

  <div class="enlarged-text-container">
    <div class="enlarged-title">{{itemEnlarged.item_data.name}}</div>
    <div class="enlarged-caption">{{ formatPrice(itemEnlarged.item_data.variations[0].item_variation_data.price_money.amount) }}</div>
    <hr>
    <div class="enlarged-caption">{{ itemEnlarged.item_data.description_plaintext }}</div>

    <div>

      <div class="choose-amount" *ngIf="this.inStock">
        <div class="previous">
          <button (click)="decrementQuantity()"class="previous">Previous</button>
        </div>

        <div class="amount">{{quantity}}</div>

        <div class="next">
          <button (click)="incrementQuantity()" class="next">Next</button>
        </div>

        <div class="display-price">
          <p>{{formatPrice(subTotal)}}</p>
        </div>
      </div>


      <!-- if there's no colors present then a single variation named regular with ordinal 1 appears, whereas colors are given indexed ordinal values -->
      <div *ngIf="itemEnlarged.item_data.variations[0].item_variation_data.name !== 'Regular'">
        <h2>Color</h2>
        <p>{{itemEnlarged.item_data.variations[currentColorIndex].item_variation_data.name}}</p>
        <div *ngFor = "let variation of itemEnlarged.item_data.variations; let j = index" class="color-bubble-selectors">
          <div class="color-bubble-selector"
            [style.background-color]=colorMap[variation.item_variation_data.name]
            [ngClass]="{ 'color-bubble-selector-dim': isSoldOut(variation) }"
            [class.selected]="colorIsSelected && variation.id === currentColorId"
            (click)="selectColor(j); currentColorId = variation.id">
          </div>
        </div>
      </div>

    </div>

    <div class="center" *ngIf="inStock">
      <button (click)="addToCart()">Add To Cart</button>
    </div>

    <div *ngIf="!inStock">
      <h4>This Item is Currently Unavailable</h4>
      <h5>Please send an email if you'd like to make a custom order here: </h5>
      <a href="contact" class="contact-button">Contact Me</a>
      <h6>*Time delays, extra charges, and other conditions may apply</h6>
    </div>

  </div>

</div>


<div *ngIf="!itemEnlarged">
  <h1>Error: Please reload page</h1>
</div>

