<p>home works!</p>

<div class="container">
  <div class="email-sub" *ngIf="!emailSubmitted">
    <label for="email">Subscribe to our newsletter for special events, sales, and more!</label>
    <div [hidden]="isVerifiedEmail" class="alert-danger">
      <p>Email verification failed. Error Code: {{ errorCode }}. Please try another email.</p>
    </div>
    <div [hidden]="email.valid || email.pristine" class="alert-danger">
      <p>Please enter a valid email address</p>
    </div>
    <div class="input-container">
      <input type="email" #email="ngModel" id="email" required [(ngModel)]="emailValue" name="email"
        pattern="[^\s@]+@[^\s@]+\.[^\s@]+">
      <button (click)="submitEmail()" [disabled]="email.invalid || email.pristine">Subscribe</button>
    </div>
    <div class="loader" *ngIf="isLoading"></div>
  </div>
  <div class="email-sub" *ngIf="emailSubmitted">
    <p>Thank you for your subscription! You'll be receiving a confirmation email shortly</p>
  </div>
</div>
